/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache

public/js/app\.js

public/js/router\.js

storage/framework/cache/data/1c/6e/1c6ea8378a1030f85a05f4cb2262de1e2164efa6

storage/framework/cache/data/03/d2/03d227a5f76558d2aa517b1c4894c024cfb01ef1

storage/logs/laravel-2018-12-13\.log

storage/framework/cache/data/89/88/89888d266e5fba6fa8dd608526980cca91d427fa

storage/framework/cache/data/ca/6a/ca6a079b2174b5a38c5d0ddb7a34e210769de6f9

storage/logs/laravel-2018-12-26\.log

app/Http/Controllers/LoginControllerAPI\.php
